<div id="main">
    <div class="row">
        <div class="row1">
            <div class="pt">
                <img [src]="imgUrl" alt="">
            </div>
        </div>
        <div class="row2">
            <div class="col1">
                 <div class="head">
                    <h2>Specialized Equipments</h2>
                 </div>
            </div>
            <div class="col2">
                  <h4>Our state-of-the-art facility features specialized equipment for powerlifting, calisthenics, and more. Elevate your training regimen with tools designed for serious lifters.</h4>
            </div>
        </div>
    </div>
</div>


