<div>
    <div class="video-background">
        <video autoplay muted loop id="myVideo" class="w-100">
            <source [src]="videoUrl" type="video/mp4">
        </video>
        <div id="main" class="text-center text-white">
            <div id="page1" class="py-5">
                <h1 class="display-3">SWEAT. SMILE. REPEAT.</h1>
                <h2 class="my-element">WELCOME TO <span>ANYDAY FITNESS</span></h2>
                <p>Fitness is not <span>30%</span> Gym and <span>70%</span> Diet. It is <span>100%</span> dedication to your Gym and Diet.</p>
            </div>
        </div>
    </div>
</div>
  
