<div class="main">
    <div class="row">
        <div class="col1">
            <div class="img">
                <img [src]="imgUrl" alt="">
            </div>
        </div>
        <div class="col2">
            <div class="row1">
                <h1>THE 12-WEEKS PLAN</h1>
            </div>
            <div class="row2">
                <h5>STRENGTH AND POWER</h5>
                <h5>3600 INR</h5>
                <h5>5:00 AM - 11:00 PM</h5>
            </div>
            <div class="row3">
                <p>A 12-week plan designed to significantly improve your key lifts: squat, deadlift, and bench press.</p>
            </div>
        </div>
    </div>
</div>
