<div class="about-since-background">
    <div class="col">
        <div class="row">
            <h1><span>THE ULTIMATE DESTINATION</span> FOR HARDCORE FITNESS ENTHUSIASTS</h1>
        </div>
        <div class="row">
             <p>Since 2015, we've been pushing the boundaries of what a gym can be.</p>
        </div>
        <div class="row" id="imgsec">
             <div class="img">
                <video autoplay muted loop id="myVideo" >
                    <source  [src]="videoUrl" type="video/mp4">
                </video>
             </div>
        </div>
    </div>
</div>