.about-background {

    position: relative;
    width: 100%;
    height: 97vh;
    overflow: hidden;

}

#myImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    object-fit: contain;
    opacity: 0.92;
}

#page1 {
    height: 100vh;
    display: flex;
    position: relative;
    top: 10vh;
    align-items: center;
    flex-direction: column;
    
}

#page1 h1 {
    font-size: 62px;
    font-family: 'Arial';
    font-weight: 900;
    color: #ffffff;
    position: relative;
}

#page1 h1::before{
    content:"BEHIND THE EVERY DROP OF SWEAT.";
    position: absolute;
    color: #93B1A6;
    top: -2px;
    left: -2px;
    z-index: -1;
    -webkit-text-stroke: 2px #7d1414;

}

#page1 h2 {
    margin-top: 2vh;
    font-size: 40px;
    font-family: 'montserat';
    font-weight: 500;
    color: rgb(245, 158, 8);
}


#page1 p {
    margin-top: 34vh;
    margin-right: 54vh;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #8cb5a5;
    text-align: center;
    text-shadow: 18px 18px 14px rgba(0, 0, 0, 0.5);
}