<div id="main">
    <div class="row">
        <div class="row1">
            <div class="pt">
                <img [src]="imgUrl" alt="">
            </div>
        </div>
        <div class="row2">
            <div class="col1">
                 <div class="head">
                    <h2>Personal Training</h2>
                 </div>
            </div>
            <div class="col2">
                  <h4>Our certified personal trainers create custom workout plans tailored to meet your fitness goals, whether it's bulking up, cutting down, or smashing your PR.</h4>
            </div>
        </div>
    </div>
</div>
