<div id="main">
    <div class="row">
        <div class="row1">
            <div class="pt">
                <img [src]="imgUrl" alt="">
            </div>
        </div>
        <div class="row2">
            <div class="col1">
                 <div class="head">
                    <h2>Nutritional Consultant</h2>
                 </div>
            </div>
            <div class="col2">
                  <h4>Get tailored meal plans and supplement guides to complement your hardcore training routine, ensuring you're nourishing your body for optimal performance and recovery.</h4>
            </div>
        </div>
    </div>
</div>

