<div class="main">
    <div class="col">
        <div class="row1">
            <div class="head">
                <h2>GYM LOCATION AND TIME</h2>
            </div>
        </div>
        <div class="row2">
            <div class="img">
                <img [src]="imgUrl" alt="">
            </div>
        </div>
        <div class="row3">
            <div class="loc">
                <img [src]="imgUr" alt="">
                <h2>LAWGATE,NEAR ABC MEDICOS,LPU</h2>
            </div>
        </div>
    </div>
</div>
<div class="row3">
    <div class="loc">
        <img [src]="imgU" alt="">
        <h2>5:00 AM - 11:00 PM</h2>
    </div>
</div>
