<app-header></app-header>
<div class="col11">
    <div class="imgage">
        <h3>IMAGE TOUR</h3>
    </div>
</div>
<div class="about-since-background">
    <div class="col">
        <div class="row">
            <h1><span>SECOND FLOOR VIEWS</span></h1>
        </div>
        <div class="row" id="imgsec">
             <div class="img">
                <img [src]="imgUrl8" alt="">
             </div>
        </div>
      
       
    </div>
</div>
<div class="about-since-background">
    <div class="col">
        <div class="row">
            <h1><span>FIRST FLOOR VIEWS</span></h1>
        </div>
        
        <div class="row" id="imgsec">
             <div class="img">
                <img [src]="imgUrl6" alt="">
             </div>
        </div>
        <div class="row" id="imgsec">
             <div class="img">
                <img [src]="imgUrl7" alt="">
             </div>
        </div>
       
    </div>
</div>
<div class="about-since-background">
    <div class="col">
        <div class="row">
            <h1><span>GROUND FLOOR VIEWS</span></h1>
        </div>
        
        <div class="row" id="imgsec">
             <div class="img">
                <img [src]="imgUrl4" alt="">
             </div>
        </div>
        <div class="row" id="imgsec">
             <div class="img">
                <img [src]="imgUrl5" alt="">
             </div>
        </div>
       
    </div>
</div>
<div class="about-since-background">
    <div class="col">
        <div class="row">
            <h1><span>OUTSIDE VIEWS</span></h1>
        </div>
        
        <div class="row" id="imgsec">
             <div class="img">
                <img [src]="imgUrl" alt="">
             </div>
        </div>
        <div class="row" id="imgsec">
             <div class="img">
                <img [src]="imgUrl1" alt="">
             </div>
        </div>
        <div class="row" id="imgsec">
             <div class="img">
                <img [src]="imgUrl2" alt="">
             </div>
        </div>
        <div class="row" id="imgsec">
             <div class="img">
                <img [src]="imgUrl3" alt="">
             </div>
        </div>
    </div>
</div>


